{% extends 'users/main.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
</head>



<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card card-body special-card text-left">
                <div class="card-title">
                    <div class="display-4">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-receipt-cutoff" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                            <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                        Records Calendar:</div> 
                </div>
                <hr>
                <div class="card-body" >
                    <div id="calendar"></div>
                </div>
            </div>
       
            
        </div>
        
        <div class="col-md-5">
            <div class="card card-body special-card">
                <h1 ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                    </svg> 
                    Goals: {{total_goals}} total
                </h1>
            </div>
            <div class="card card-body special-card">
                <table class="table table_id table-striped table-hover table-secondary">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-left font-weight-bold" style="font-size: 125%;" scope="col">Descriprion</th>
                            <th class="text-left font-weight-bold" style="font-size: 125%;" scope="col">Amount</th>
                            <th class="text-left font-weight-bold" style="font-size: 125%;" scope="col">Due_Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for goal in goals %}
                            <tr> 
                                <td class="text-left font-weight-bold" style="font-size: 125%;" >
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                                      </svg>
                                    {{goal.naming}}</td>
                                <td class="text-left font-weight-bold" style="font-size: 125%;" >${{goal.amount|intcomma}}</td>
                                <td class="text-left font-weight-bold" style="font-size: 125%;" >{{goal.due_date.day}}/ {{goal.due_date.month}}/ {{goal.due_date.year}}, </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
            <hr>
            <div class="card card-body special-card">
                <h1 >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                        <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                      </svg>
                Saving Jars: {{total_jars}} total</h1>
               
                
            </div>
            <div class="card card-body special-card">

                <table class="table table_id table-striped table-hover table-secondary">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-left font-weight-bold" style="font-size: 125%;" scope="col">Name</th>
                            <th class="text-left font-weight-bold" style="font-size: 125%;" scope="col">Current Amount</th>
                            <th class="text-left font-weight-bold" style="font-size: 125%;" scope="col">Target_amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for jar in jars %}
                            <tr>
                                <td class="text-left font-weight-bold" style="font-size: 125%;" >
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
                                        <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                      </svg>
                                    {{jar.naming}}
                                </td>
                                
                                <td class="text-left font-weight-bold" style="font-size: 125%;" >
                                        
                                    ${{jar.amount|intcomma}}
                                </td>
                                <td class="text-left font-weight-bold" style="font-size: 125%;" >
                                    ${{jar.desired_amount|intcomma}}
                                </td>
                                
                                
                                    
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    
    </div>


    </div>
</div>




</div>


{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script scr="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>

<script src="{% static 'users/js/home.js' %}"></script>
<script>
    var rec_types = JSON.parse("{{rec_types_JSON|escapejs}}");
var rec_titles = JSON.parse("{{rec_names_JSON|escapejs}}");
var rec_starts = JSON.parse("{{rec_start_JSON|escapejs}}");
var rec_value = JSON.parse("{{rec_value_JSON}}");
var rec_len = JSON.parse("{{rec_total_JSON|escapejs}}");
var rec_color = JSON.parse("{{rec_color_JSON|escapejs}}");
var rec_id = JSON.parse("{{rec_id_JSON|escapejs}}");

var recData = [];
for(var i = 0; i < rec_len; i++) {
    recData.push(   {   
                        title: "$" + rec_value[i], 
                        start: rec_starts[i].substring(1, rec_starts[i].length-1),
                        description: "&nbsp record: <u>" + rec_titles[i] + "</u> ,  <br>" + 
                                     "&nbsp type: " + rec_types[i] + " ,  <br>" + 
                                     " &nbsp valuing: $" + rec_value[i] + " , &nbsp <br> " +
                                     " &nbsp date: " + rec_starts[i].substring(1, rec_starts[i].length-1) + " , &nbsp <br>" +
                                     " &nbsp click to edit. &nbsp",
                        backgroundColor: rec_color[i],
                        url: "{% url 'record_form' 123 %}".replace('123', rec_id[i])
                    } 
                ) 
}

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        initialDate: '2020-11-07',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth'
        },  
        events: recData,
        eventClick: function(info) {
        window.location.replace(event.url);
        },
        eventMouseEnter: function(calEvent) {
            var tooltip = '<div class="tooltipevent" style="width:auto; height:auto; vertical-align:middle; position:absolute; background:'+calEvent.el.style.backgroundColor+'; color: white; font-size: 25px !important; font-weight: bold ">' + calEvent.event._def.extendedProps.description + '</div>';
            $("body").append(tooltip);
            $(this.el).mouseover(function(e) {
                $(this.el).css('z-index', 10000);
                $('.tooltipevent').fadeIn('500');
                $('.tooltipevent').fadeTo('10', 1.9);
            }).mousemove(function(e) {
                $('.tooltipevent').css('top', e.pageY + 10);
                $('.tooltipevent').css('left', e.pageX + 20);
            });},
            
            eventMouseLeave: function(calEvent, jsEvent) {
             $(this.el).css('z-index', 8);
             $('.tooltipevent').remove();},
     
    });

    calendar.render();
  });
</script>


{% endblock %}


