html {
    position: relative;
    min-height: 100%;
    }

body {
    position: relative;
    /*
    background: url("/static/images/finances-4-B&W.jpg") fixed; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    */
    background: linear-gradient(to bottom right, lightgreen, grey);
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.special-card {
        background-color: rgb(255, 255, 255);
        opacity: .95;
}

.container-box {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

.footer-custom {
    
    margin-top:  auto;
    background-color: rgb(228, 228, 228);
    text-align: center;
    opacity: .9;
}


.OutflowValue {
    color: #921919;
}
    
.InflowValue {
    color: #1c9923;
}

.GoalComplete{
    color: #a17e1d;
}

.Investment{
    color: #968e1e;
}

.Dividents{
    color: #282188;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #686868;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 35px;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #686868;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #cecece;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #cecece;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid#cecece;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #686868;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #cecece;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cecece;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #686868;
}

a.article,
a.article:hover {
    background:#cecece !important;
    color: #fff !important;
}
