{% load widget_tweaks %}

<form method="post">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add a new record</h4>
  </div>
  <div class="modal-body">
    <div style="display: none;">
      {{ create_record_form.user }}
  </div>
  <div class="card card-body special-card">
      <div class="" style="font-size: 20px;">Naming: {{ create_record_form.naming }}</div>
      <hr>
      <div class="" style="font-size: 20px;">Category: {{ create_record_form.category }}</div>
      <hr>
      <div class="" style="font-size: 20px;">Amount: {{ create_record_form.amount }}</div>
      <hr>
      <div class="" style="font-size: 20px;">Date: {{ create_record_form.date }}</div>
      <hr>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add record</button>
  </div>
</form>



<!--
<form action="{% url 'create_record' %}" method="POST" class="js-create-record">
  {% csrf_token %}
    <div class="modal fade" id="RecordAddModal" tabindex="-1" role="dialog" aria-labelledby="RecordAddModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        
          <div class="modal-content special-card">
              <div class="modal-header">
                <h5 class="modal-title" id="RecordAddModalTitle">Add a Monetary Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div style="display: none;">
                  {{ create_record_form.user }}
              </div>
              <div class="card card-body special-card">
                  <div class="" style="font-size: 20px;">Naming: {{ create_record_form.naming }}</div>
                  <hr>
                  <div class="" style="font-size: 20px;">Category: {{ create_record_form.category }}</div>
                  <hr>
                  <div class="" style="font-size: 20px;">Amount: {{ create_record_form.amount }}</div>
                  <hr>
                  <div class="" style="font-size: 20px;">Date: {{ create_record_form.date }}</div>
                  <hr>
              </div>
              <button type="submit" class="btn btn-primary">Create book</button>
              <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Cancel</button>
              </div>
          </div>
        
      </div>
    </div>
</form>
-->

