body {
    /*
    background: url("/static/images/Personal-Finance-Guide-Step-by-Step-Savings.jpg") fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    */
    background: lightgray;
}